### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"
# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data, encoding="ISO-8859-1")

In [2]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
no_players = purchase_data_df['SN'].nunique()
unique_items = purchase_data_df['Item Name'].nunique()
avg_price = round(purchase_data_df['Price'].mean(),2)
tot_purchases = purchase_data_df['Purchase ID'].nunique()
avg_age = round(purchase_data_df['Age'].mean(),1)

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [4]:
summary_df = pd.DataFrame({"Unique Items":[unique_items],
                            "Average Price":[avg_price],                           
                           "Total Purchases":[tot_purchases],
                            "Total Players":[no_players],
                            "Average Age":[avg_age]
                           })

tp_df = summary_df.transpose()
tp_df

                      0
Unique Items     179.00
Average Price      3.05
Total Purchases  780.00
Total Players    576.00
Average Age       22.70

## Gender Demographics

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [5]:
players_group = purchase_data_df.groupby("Gender")
gender_df = pd.DataFrame(players_group["Gender"].count())
gender_df = gender_df.rename(columns={"Gender": "Count of Purchasers by Gender"})
gender_df

                       Count of Purchasers by Gender
Gender
Female                                           113
Male                                             652
Other / Non-Disclosed                             15

In [6]:
tot_p = len(purchase_data_df)
tot_per_gender = players_group["Gender"].count()
gender_perc_df = pd.DataFrame((tot_per_gender/tot_p)*100)

In [7]:
gender_perc_df = gender_perc_df.rename(columns={"Gender":"Percent Items Purchased by Gender"})
gender_perc_df.round()

                       Percent Items Purchased by Gender
Gender
Female                                              14.0
Male                                                84.0
Other / Non-Disclosed                                2.0

In [8]:
gen_sumpurch = purchase_data_df.groupby(['Gender','Price'])
gen_sumpurch.sum()

                             Purchase ID  Age  Item ID
Gender                Price
Female                1.00           418   25      125
                      1.01           586   23      155
                      1.02          1838   69       43
                      1.09           618   29      183
                      1.16            85   32       33
...                                  ...  ...      ...
Other / Non-Disclosed 3.58             9   35      136
                      3.81            22   38       24
                      3.94           726   51       78
                      4.40            82   16      160
                      4.75           111   21       41

[235 rows x 3 columns]

In [9]:
gen_sumpurch = pd.DataFrame(gen_sumpurch["Price"].sum())
#gen_sumpurch = gender_df.rename(columns={"Gender": "Count of Purchasers by Gender"})
gen_sumpurch

                             Price
Gender                Price
Female                1.00    1.00
                      1.01    1.01
                      1.02    3.06
                      1.09    1.09
                      1.16    1.16
...                            ...
Other / Non-Disclosed 3.58    3.58
                      3.81    3.81
                      3.94    7.88
                      4.40    4.40
                      4.75    4.75

[235 rows x 1 columns]

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [10]:
# Rename the "Gender" column to "Gender Count"
gender_specific_df = gender_df.rename(
    columns={"Items by Gender": "Gender Count"})
gender_specific_df

                       Count of Purchasers by Gender
Gender
Female                                           113
Male                                             652
Other / Non-Disclosed                             15

In [11]:
players_group = purchase_data_df.groupby("Gender")
gender_df = pd.DataFrame(players_group["Gender"].count())
gender_df = gender_df.rename(columns={"Gender": "Items by Gender"})
gender_df

                       Items by Gender
Gender
Female                             113
Male                               652
Other / Non-Disclosed               15

In [12]:
#ags_ave_price per Gender = 
purchase_data_g_mean_df = purchase_data_df.groupby("Gender").mean()
col1=purchase_data_g_mean_df['Price']
col1

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [13]:
#Total Sum Purchased per Gender
purchase_data_g_sum_df = purchase_data_df.groupby("Gender").sum()
col2=purchase_data_g_sum_df['Price']
col2

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [14]:
#Combined into one Dataframe
gender_specific_df['Average Purchase Price']=col1
gender_specific_df

                       Count of Purchasers by Gender  Average Purchase Price
Gender
Female                                           113                3.203009
Male                                             652                3.017853
Other / Non-Disclosed                             15                3.346000

In [15]:
gender_specific_df['Total Purchase per Gender']=col2
gender_specific_df

,Count of Purchasers by Gender,Average Purchase Price,Total Purchase per Gender
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

In [16]:
gen_byperson = purchase_data_df.groupby(['Gender','SN']).sum()
col3 = gen_byperson['Price']
col3

Gender                 SN
Female                 Adastirin33      4.48
                       Aerithllora36    8.64
                       Aethedru70       3.54
                       Aidain51         3.45
                       Aiduesu86        4.48
                                        ...
Other / Non-Disclosed  Lirtim36         1.33
                       Maluncil97       5.28
                       Rairith81        2.22
                       Siarithria38     6.91
                       Sundim98         4.75
Name: Price, Length: 576, dtype: float64

## Age Demographics

* Establish bins for ages
* Categorize the existing players using the age bins. Hint: use pd.cut()
* Calculate the numbers and percentages by age group
* Create a summary data frame to hold the results
* Optional: round the percentage column to two decimal points
* Display Age Demographics Table

In [17]:
#Create groupby to look at distribution
#gen_byage = purchase_data_df.groupby(['Age']).sum()
#col4 = gen_byperson['Age']
#col4

In [30]:
#Establish Bins
bins = [0,9,19,29,39,50]
group_names = ["Under 10", "10-19", "20-29", "30-39", "40-50"]
purchase_data_df ["Age Summary"] = pd.cut(purchase_data_df["Age"], bins, labels=group_names, include_lowest=True)
age_group = purchase_data_df.groupby("Age Summary")

#Unique count per Bin
col5 = age_group["SN"].nunique()
col5

Age Summary
Under 10     17
10-19       129
20-29       335
30-39        83
40-50        12
Name: SN, dtype: int64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [19]:
#Percent of count per bin
all_players = col5.sum()
age_perc_df = pd.DataFrame((col5/all_players)*100)
age_perc_df

                    SN
Age Summary
Under 10      2.951389
10-19        22.395833
20-29        58.159722
30-39        14.409722
40-50         2.083333

In [31]:
#Average Price Payed per bin
col6 = age_group["Price"].mean()
col6

Age Summary
Under 10    3.353478
10-19       3.022378
20-29       3.019442
30-39       3.172544
40-50       2.941538
Name: Price, dtype: float64

In [22]:
#Average Price Total per bin
col7 = age_group["Price"].sum()
col7

Age Summary
Under 10      77.13
10-19        495.67
20-29       1407.06
30-39        361.67
40-50         38.24
Name: Price, dtype: float64

In [32]:
age_byperson = purchase_data_df.groupby(['Gender','SN']).sum()
col8 = age_byperson['Price']
col8

Gender                 SN
Female                 Adastirin33      4.48
                       Aerithllora36    8.64
                       Aethedru70       3.54
                       Aidain51         3.45
                       Aiduesu86        4.48
                                        ...
Other / Non-Disclosed  Lirtim36         1.33
                       Maluncil97       5.28
                       Rairith81        2.22
                       Siarithria38     6.91
                       Sundim98         4.75
Name: Price, Length: 576, dtype: float64

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
#no_players = purchase_data_df['SN'].nunique()
#unique_items = purchase_data_df['Item Name'].nunique()
#avg_price = round(purchase_data_df['Price'].mean(),2)
#tot_purchases = purchase_data_df['Purchase ID'].nunique()
#avg_age = round(purchase_data_df['Age'].mean(),1)

In [34]:
#top_byperson = purchase_data_df.groupby(['SN','Price']).sum()
#col9 = top_byperson['Price']
#col9

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame